<h1>Welcome to Plant.</h1>
<h2>Below is a clean listing of all seeds sorted by the date they were made.</h2>
<hr>
<div class='#'>
	<% @posts.each do |post| %>
	<div class='# seed-list'>
		<div class="#">
			<p class="#"><%= post.content %></p>
			<p><%= post.created_at.to_s(:posts) %></p>
			<p><%= link_to post.user.user_name, show_user_path(post.user_id) %></p>
			<% if user_signed_in? %>
				<% if current_user.id === post.user.id %>
					<p><%= link_to 'Delete My Seed', delete_post_path(post.id), method: :delete %></p>
				<% end %>
			<% end %>
		</div>
	</div>
	<% end %>
</div>
